pre {
	width: 52.5%;
	padding-left: 2.5%;
	overflow-x: auto; 
}

pre {
	padding-left: 2.5%;
	overflow-x: auto; 
}


pre {
	overflow-x: auto; 
}

pre, pre code, p code, p pre code {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


/*

pre {
	width: 100%;
	padding-left: 1em; 
	white-space: pre-wrap;
	background: transparent;
	border: none;
}

pre, pre code, p code, p pre code {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: $text-color;
	background: transparent;
}
*/
